html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(244, 244, 244);
  color: #333;
}

p {
  font-size: 1.6rem;
}
small {
  font-size: 1.4rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  text-align: center;
  font-size: 4.4rem;
}

.form {
  display: flex;
}

.input {
  padding: 10px;
  margin: 10px;
  width: 70%;
  border: 1px solid #333;
  border-radius: 8px;
}
.button {
  padding: 8px;
  margin: 6px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #333;
  color: aliceblue;
}

.label {
  font-size: 2rem;
  margin-top: 15px;
}

.grouped {
  display: flex;
  flex-direction: column;
}
