body,
html {
  background: linear-gradient(45deg, #42a5f5 0%, #478ed1 50%, #0d47a1 100%);
  margin: 0%;
}

.title {
  display: flex;
  color: aliceblue;
  text-align: center;
  align-items: center;
  font-weight: 100;
  margin: 0;
  font-size: 20rem;
  justify-content: center;
  min-height: 100vh;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}
.input {
  padding: 1rem;
}
.button {
  background: none;
  box-shadow: none;
  border: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  color: aliceblue;
}
