body {
  margin: 5%;
  background-color: rgba(255, 93, 102, 0.5);
  display: grid;
  justify-content: center;
}

.header {
  text-align: center;
  color: #16697a;
  margin-bottom: 30px;
}

.textarea {
  background-color: rgb(216, 98, 137);
  width: 20em;
  padding: 2px;
  border-radius: 8px;
  height: 10em;
  padding: 2em;
  margin-bottom: 0.5em;
  border: none;
}

.textarea:focus {
  outline: none;
  box-shadow: 0px 0px 2px #000;
}

.button {
  border: none;
  padding: 5px 16px;
  border-radius: 25px;
  background-color: lightgoldenrodyellow;
  margin-left: 76%;
}

.button:focus {
  outline: none;
  box-shadow: 0px 0px 2px #000;
}

.entry {
  background-color: rgb(95, 177, 119);
  max-width: 20em;
  padding: 3em;
  border: none;
  border-radius: 8px;
  margin-top: 6em;
  color: #fff;
}

.log-button {
  margin: 0.2em;
}
